<%- include("../parts/html-head") %> <%- include("../parts/navbar") %>
<div class="container">
  <div class="row mt-3">
    <div class="col-6">
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          <% for(let i = page-3; i <= page+3; i++) if(i>=1 && i<=totalPages) {
          const newQuery = {...query, page: i} %>

          <li class="page-item <%= i === page ? 'active' : '' %>">
            <a class="page-link" href="?<%= new URLSearchParams(newQuery) %>"
              ><%= i %></a
            >
          </li>
          <% } %>
        </ul>
      </nav>
    </div>
    <div class="col-6">
      <form class="d-flex" role="search">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
          name="keyword"
          id="keyword"
          value="<%= query.keyword ? query.keyword : '' %>"
          oninput="resetList()"
        />
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <table class="table">
        <thead>
          <tr>
            <th><i class="fa-solid fa-trash"></i></th>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Phone</th>
            <th scope="col">Birthday</th>
            <th><i class="fa-solid fa-pen-to-square"></i></th>
          </tr>
        </thead>
        <tbody>
          <% for(let r of rows) { %>
          <tr>
            <th>
              <a href="javascript: removeItem(<%= r.id %>)">
                <i class="fa-solid fa-trash"></i>
              </a>
            </th>
            <td><%= r.id %></td>
            <td><%= r.name %></td>
            <td><%= r.email %></td>
            <td><%= r.phone %></td>
            <td><%= r.birthday %></td>
            <th>
              <a href="/member/edit/<%= r.id %>"
                ><i class="fa-solid fa-pen-to-square"></i
              ></a>
            </th>
          </tr>
          <% } %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<%- include("../parts/scripts") %>
<script>
  const resetList = () => {
    let value = document.querySelector("#keyword").value.trim();
    if(value === ''){
      location.href = '/member';
    }
  };
  const removeItem = (id) => {
    Swal.fire({
      title: "Are you sure?",
      text: "Once deleted, you will not be able to revert the changes!",
      icon: "warning",
      showCancelButton: true,
      confirmButtonText: "Yes",
    }).then((willEdit) => {
      if (willEdit.isConfirmed) {
        fetch(`member/${id}`, {
          method: "delete",
        })
          .then((r) => r.json())
          .then((data) => {
            Swal.fire({
              text: "Deleted successfully",
              icon: "success",
            }).then(() => {
              location.reload();
            });
          });
      }
    });
  };
</script>
<%- include("../parts/html-foot") %>
