<%- include("../parts/html-head") %> <%- include("../parts/navbar") %>
<div class="container">
  <div class="row">
    <div class="col-6">
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          <% for(let i=page-3; i<=page+3; i++) if(i>=1 && i<=totalPages) { const
          newQuery = {...query, page: i}; %>
          <li class="page-item <%= i===page ? 'active' : '' %>">
            <a class="page-link" href="?<%= new URLSearchParams(newQuery) %>"
              ><%= i %></a
            >
          </li>
          <% } %>
        </ul>
      </nav>
    </div>
    <div class="col-6">
      <form class="d-flex" role="search">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search name or phone"
          aria-label="Search"
          name="keyword"
          oninput="resetList()"
          value="<%= query.keyword ? query.keyword : '' %>"
        />
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Phone</th>
            <th scope="col">Birthday</th>
          </tr>
        </thead>
        <tbody>
          <% for(let r of rows) { %>
          <tr>
            <td><%= r.id %></td>
            <td><%= r.name %></td>
            <td><%= r.email %></td>
            <td><%= r.phone %></td>
            <td><%= r.birthday %></td>
          </tr>
          <% } %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<%- include("../parts/scripts") %>
<script>
  const resetList = () => {
    let value = document.querySelector("#keyword").value.trim();
    if(value === ''){
      location.href = '/member';
    }
  };
  </script>
<%- include("../parts/html-foot") %>
