<style>
  nav.navbar ul.navbar-nav li > a.nav-link.active {
    background-color: #0066ff;
    color: white;
    font-weight: 900;
    border-radius: 6px;
  }
</style>
<div class="container">
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Home</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link <%= pageName==="mb-list" ? "active" : "" %>" 
            href="/member">Member list</a>
          </li>
          <li class="nav-item">
            <a class="nav-link <%= pageName==="mb-add" ? "active" : "" %>" 
            href="/member/add">Add new member</a>
          </li>

        </ul>

        <ul class="navbar-nav mb-2 mb-lg-0">
          <% if(session && session.admin) {  %>
            <li class="nav-item">
              <a class="nav-link"><%= session.admin.username %></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" 
              href="/logout?u=<%= originalUrl %>">登出</a>
            </li>
          <% } else { %>
            <li class="nav-item">
              <a class="nav-link <%= pageName==="login" ? "active" : "" %>" href="/login?u=<%= originalUrl %>">登入</a>
            </li>
          <% } %>
        </ul>
      </div>
    </div>
  </nav>
</div>
